## Proyecto: Estudio de Mercado de Automóviles

1. Exploración y preprocesamiento de datos:

In [8]:
# Importamos las librerias a utilizar
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [56]:
# Cargamos el dataset
df = pd.read_csv("../Analisis de mercado/ML_cars.csv")

In [57]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [58]:
df.info()
# Se observa que el dataframe cuenta con 26 columnas y 205 filas, donde no se tiene valores nulos

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   car_ID            205 non-null    int64
 1   symboling         205 non-null    int64
 2   CarName           205 non-null    object
 3   fueltype          205 non-null    object
 4   aspiration        205 non-null    object
 5   doornumber        205 non-null    object
 6   carbody           205 non-null    object
 7   drivewheel        205 non-null    object
 8   enginelocation    205 non-null    object
 9   wheelbase         205 non-null    float64
 10  carlength         205 non-null    float64
 11  carwidth          205 non-null    float64
 12  carheight         205 non-null    float64
 13  curbweight        205 non-null    int64
 14  enginetype        205 non-null    object
 15  cylindernumber    205 non-null    object
 16  enginesize        205 non-null    int64
 17  fuelsystem        205 non-null    object
 18  boreratio         205 non-null    float64
 19  stroke            205 non-null    float64
 20  compressionratio  205 non-null    float64
 21  horsepower        205 non-null    int64
 22  peakrpm           205 non-null    int64
 23  citympg           205 non-null    int64
 24  highwaympg        205 non-null    int64
 25  price             205 non-null    float64
dtypes: float64(8), int64(8), object(10)
memory usage: 41.8+ KB

In [59]:
df.shape

(205, 26)

Se ha observado que la columna 'CarName', contiene la marca del vehículo y el modelo por lo que se procede a separar esta columna en dos

In [60]:
# Separamos la columna "CarName" en dos Marca y Modelo
df[['Marca', 'Modelo']] = df['CarName'].str.split(' ', n=1, expand=True)

In [61]:
df.head()

,car_ID,symboling,CarName,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Marca,Modelo
0,1,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,13495.0,alfa-romero,giulia
1,2,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,...,3.47,2.68,9.0,111,5000,21,27,16500.0,alfa-romero,stelvio
2,3,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,...,2.68,3.47,9.0,154,5000,19,26,16500.0,alfa-romero,Quadrifoglio
3,4,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,...,3.19,3.40,10.0,102,5500,24,30,13950.0,audi,100 ls
4,5,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,...,3.19,3.40,8.0,115,5500,18,22,17450.0,audi,100ls

In [62]:
# Eliminamos la columna 'CarName' del dataframe
df = df.drop('CarName', axis=1)

In [63]:
# Observamos lo valores únicos de la columna Marca 
Marca_unica = df['Marca'].unique()

# Se imprime los vlaores unicos de la Marca
print("Marca unica:")
print(Marca_unica)

Marca unica:
['alfa-romero' 'audi' 'bmw' 'chevrolet' 'dodge' 'honda' 'isuzu' 'jaguar'
 'maxda' 'mazda' 'buick' 'mercury' 'mitsubishi' 'Nissan' 'nissan'
 'peugeot' 'plymouth' 'porsche' 'porcshce' 'renault' 'saab' 'subaru'
 'toyota' 'toyouta' 'vokswagen' 'volkswagen' 'vw' 'volvo']

Al imprimir las Marca, se puede observar que existe error de digitación por lo que se deben uniformizar los datos de la columna Marca

In [64]:
# Se procede a estandarizar los nombres de las Marcas
Est_Marca = {'alfa-romero': 'Alfa Romero',
 'audi': 'Audi',
 'bmw':'BMW',
 'chevrolet': 'Chevrolet',
 'dodge': 'Dodge',
 'honda': 'Honda',
 'isuzu': 'Isuzu',
 'jaguar': 'Jaguar',
 'maxda': 'Mazda',
 'mazda':'Mazda',
 'buick': 'Buick',
 'mercury':'Mercury',
 'mitsubishi': 'Mitsubishi',
 'nissan':'Nissan',
 'peugeot':'Peugeot',
 'plymouth':'Plymouth',
 'porsche': 'Porsche',
 'porcshce': 'Porsche',
 'renault': 'Renault',
 'saab': 'Saab',
 'subaru':'Subaru', 
 'toyota':'Toyota',
 'toyouta': 'Toyota',
 'vokswagen': 'Volkswagen',
 'volkswagen': 'Volkswagen',
  'vw': 'Volkswagen',
  'volvo': 'Volvo'}

In [65]:
df['Marca']=df['Marca'].replace(Est_Marca)

In [66]:
# Observamos lo valores únicos de la columna Marca 
Marca_unica = df['Marca'].unique()

# Se imprime los vlaores unicos de la Marca
print("Marca unica:")
print(Marca_unica)

Marca unica:
['Alfa Romero' 'Audi' 'BMW' 'Chevrolet' 'Dodge' 'Honda' 'Isuzu' 'Jaguar'
 'Mazda' 'Buick' 'Mercury' 'Mitsubishi' 'Nissan' 'Peugeot' 'Plymouth'
 'Porsche' 'Renault' 'Saab' 'Subaru' 'Toyota' 'Volkswagen' 'Volvo']

In [67]:
# Observamos lo valores únicos de la columna Modelo 
Modelo_unico = df['Modelo'].unique()

# Se imprime los vlaores unicos de la Marca
print("Modelo unico:")
print(Modelo_unico)

Modelo unico:
['giulia' 'stelvio' 'Quadrifoglio' '100 ls' '100ls' 'fox' '5000' '4000'
 '5000s (diesel)' '320i' 'x1' 'x3' 'z4' 'x4' 'x5' 'impala' 'monte carlo'
 'vega 2300' 'rampage' 'challenger se' 'd200' 'monaco (sw)' 'colt hardtop'
 'colt (sw)' 'coronet custom' 'dart custom' 'coronet custom (sw)' 'civic'
 'civic cvcc' 'accord cvcc' 'accord lx' 'civic 1500 gl' 'accord'
 'civic 1300' 'prelude' 'civic (auto)' 'MU-X' 'D-Max ' 'D-Max V-Cross'
 'xj' 'xf' 'xk' 'rx3' 'glc deluxe' 'rx2 coupe' 'rx-4' '626' 'glc'
 'rx-7 gs' 'glc 4' 'glc custom l' 'glc custom' 'electra 225 custom'
 'century luxus (sw)' 'century' 'skyhawk' 'opel isuzu deluxe' 'skylark'
 'century special' 'regal sport coupe (turbo)' 'cougar' 'mirage' 'lancer'
 'outlander' 'g4' 'mirage g4' 'montero' 'pajero' 'versa' 'gt-r' 'rogue'
 'latio' 'titan' 'leaf' 'juke' 'note' 'clipper' 'nv200' 'dayz' 'fuga'
 'otti' 'teana' 'kicks' '504' '304' '504 (sw)' '604sl' '505s turbo diesel'
 'fury iii' 'cricket' 'satellite custom (sw)' 'fury gran sedan' 'valiant'
 'duster' 'macan' 'panamera' 'cayenne' 'boxter' '12tl' '5 gtl' '99e'
 '99le' '99gle' None 'dl' 'brz' 'baja' 'r1' 'r2' 'trezia' 'tribeca'
 'corona mark ii' 'corona' 'corolla 1200' 'corona hardtop'
 'corolla 1600 (sw)' 'carina' 'mark ii' 'corolla' 'corolla liftback'
 'celica gt liftback' 'corolla tercel' 'corona liftback' 'starlet'
 'tercel' 'cressida' 'celica gt' 'rabbit' '1131 deluxe sedan' 'model 111'
 'type 3' '411 (sw)' 'super beetle' 'dasher' 'rabbit custom' '145e (sw)'
 '144ea' '244dl' '245' '264gl' 'diesel' '246']

In [68]:
df.head()

,car_ID,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price,Marca,Modelo
0,1,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,13495.0,Alfa Romero,giulia
1,2,3,gas,std,two,convertible,rwd,front,88.6,168.8,...,3.47,2.68,9.0,111,5000,21,27,16500.0,Alfa Romero,stelvio
2,3,1,gas,std,two,hatchback,rwd,front,94.5,171.2,...,2.68,3.47,9.0,154,5000,19,26,16500.0,Alfa Romero,Quadrifoglio
3,4,2,gas,std,four,sedan,fwd,front,99.8,176.6,...,3.19,3.40,10.0,102,5500,24,30,13950.0,Audi,100 ls
4,5,2,gas,std,four,sedan,4wd,front,99.4,176.6,...,3.19,3.40,8.0,115,5500,18,22,17450.0,Audi,100ls

In [69]:
# Get the "car_ID" index
car_id_index = df.columns.get_loc("car_ID")

# Reordenar las columnas
new_columns_order = list(df.columns[:car_id_index]) + ['Marca', 'Modelo'] + list(df.columns[car_id_index:-2])

# Create new dataframe with changes
df_reordered = df[new_columns_order]

df = df_reordered
df = df.drop('car_ID', axis=1)

In [70]:
df.head()

,Marca,Modelo,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,Alfa Romero,giulia,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,Alfa Romero,stelvio,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,Alfa Romero,Quadrifoglio,1,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,Audi,100 ls,2,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,Audi,100ls,2,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [71]:
# Obervamos la relacion existente entre la Marca y el Modelo
marca_modelo_relacion = df.groupby('Marca')['Modelo'].unique().reset_index()

# Se muestra los resultados 
print(marca_modelo_relacion)

          Marca                                             Modelo
0   Alfa Romero                    [giulia, stelvio, Quadrifoglio]
1          Audi   [100 ls, 100ls, fox, 5000, 4000, 5000s (diesel)]
2           BMW                         [320i, x1, x3, z4, x4, x5]
3         Buick  [electra 225 custom, century luxus (sw), centu...
4     Chevrolet                   [impala, monte carlo, vega 2300]
5         Dodge  [rampage, challenger se, d200, monaco (sw), co...
6         Honda  [civic, civic cvcc, accord cvcc, accord lx, ci...
7         Isuzu                      [MU-X, D-Max , D-Max V-Cross]
8        Jaguar                                       [xj, xf, xk]
9         Mazda  [rx3, glc deluxe, rx2 coupe, rx-4, 626, glc, r...
10      Mercury                                           [cougar]
11   Mitsubishi  [mirage, lancer, outlander, g4, mirage g4, mon...
12       Nissan  [versa, gt-r, rogue, latio, titan, leaf, juke,...
13      Peugeot     [504, 304, 504 (sw), 604sl, 505s turbo diesel]
14     Plymouth  [fury iii, cricket, satellite custom (sw), fur...
15      Porsche                 [macan, panamera, cayenne, boxter]
16      Renault                                      [12tl, 5 gtl]
17         Saab                                 [99e, 99le, 99gle]
18       Subaru     [None, dl, brz, baja, r1, r2, trezia, tribeca]
19       Toyota  [corona mark ii, corona, corolla 1200, corona ...
20   Volkswagen  [rabbit, 1131 deluxe sedan, model 111, type 3,...
21        Volvo  [145e (sw), 144ea, 244dl, 245, 264gl, diesel, ...

In [72]:
df.head(5)

,Marca,Modelo,symboling,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,Alfa Romero,giulia,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,Alfa Romero,stelvio,3,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,Alfa Romero,Quadrifoglio,1,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,Audi,100 ls,2,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,Audi,100ls,2,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0

In [73]:
# Guardamos el archivo tipo csv, con el objetivo de realizar el análisis exploratorio
df.to_csv('../Analisis de mercado/df_limpio.csv', index=False)